<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <!-- <div>
        <h3>Connected account</h3>
        <p id="accountArea"></p>
    </div> -->



    <!-- form -->
    <section class="bg-white dark:bg-gray-900">
        <div class="flex items-center space-x-4 pt-6 pl-2">
            <img class="w-10 h-10 rounded-full" src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="">
            <div class="font-medium dark:text-white">
                <div>Connected Account</div>
                <div class="text-sm text-gray-500 dark:text-gray-400" id="accountArea">Your Metamask Address</div>
            </div>
        </div>
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Patient Onboarding Form</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Your Data is safe in this blockchain.</p>
            <form action="#" class="space-y-8">
                <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Name</label>
                    <input type="text" id="name1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Patient's Name" >
                </div>
                <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Age</label>
                    <input type="text" id="age" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your Age" >
                </div>
                <div>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Gender</label>
                    <input type="text" id="gen" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your Gender" >
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Height & Weight</label>
                    <input type="text" id="hghtandwt" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your Height and Weight" >
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your Medical History</label>
                    <textarea id="patienthist" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write about your medical history"></textarea>
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Address</label>
                    <input type="text" id="addr" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your Address" >
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Phone No.</label>
                    <input type="text" id="pno" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your Phone Number" >
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Date of Birth.</label>
                    <input type="text" id="dob" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your Date of birth" >
                </div>
                <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Submit</button>
            </form>
        </div>
      </section>
    <!-- <h2>Register Patient</h2>
    <form id="myForm" role="form">
		<table style="width:25%"> 
            <tr>
			<td> Patient Name:</td>
			<td><input type="text" id="name1" name="name1"></td>
		  </tr>
		  <tr>
			<td>Age:</td>
			<td><input type="text" id="age" name="age"></td>
		  </tr>
		   
		   <tr>
			<td>Gender:</td>
			<td><input type="text" id="gen" name="gen"></td>
		  </tr>
            <tr>
			<td>Height & Weight:</td>
			<td><input type="text" id="hghtandwt" name="hght"></td>
		  </tr>
		  <tr>
			<td>Medical History:</td>
			<td><input type="text" id="patienthist" name="hist"></td>
		  </tr>
		  <tr>
			<td>Address:</td>
			<td><input type="text" id="addr" name="addr"></td>
		  </tr>
		  <tr>
			<td>Phone Number:</td>
			<td><input type="text" id="pno" name="pno"></td>
		  </tr>
		  <tr>
			<td>date of birth:</td>
			<td><input type="text" id="dob" name="dob"></td>
		  </tr>
		  <tr>
			
          		 
		</table>
        <button type="submit">submit</button>
		
	</form> -->
    <script>
        const namei=document.getElementById("name1")
        const agei=document.getElementById("age")
        const geni=document.getElementById("gen")
        const heightandweighti=document.getElementById("hghtandwt")
        const patienthisti=document.getElementById("patienthist")
        const addressi=document.getElementById("addr")
        const phoneNumberi= document.getElementById("pno")
        const dobi = document.getElementById("dob")
        const form = document.querySelector("form")



        //1- connect metamask
        let account;
        const connectMetamask = async () => {

            
            const ABI = [
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_doctor_name",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_doctor_specialisation",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_doctor_ph_no",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_doctor_qualification",
                        "type": "string"
                    }
                ],
                "name": "editDoc",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_patient_name",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_age",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_gender",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_heightandweight",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_medicalhist",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_phone_no",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_patient_home_adr",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_dob",
                        "type": "uint256"
                    }
                ],
                "name": "editPatients",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "docaddr",
                        "type": "address"
                    }
                ],
                "name": "givePermission",
                "outputs": [
                    {
                        "internalType": "bool",
                        "name": "success",
                        "type": "bool"
                    }
                ],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "docaddr",
                        "type": "address"
                    }
                ],
                "name": "RevokePermission",
                "outputs": [
                    {
                        "internalType": "bool",
                        "name": "success",
                        "type": "bool"
                    }
                ],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "_patientaddr",
                        "type": "address"
                    },
                    {
                        "internalType": "string",
                        "name": "_date",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_time",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_description",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_diagnosis",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_status",
                        "type": "string"
                    }
                ],
                "name": "setAppointments",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_doctor_name",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_doctor_specialisation",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_doctor_ph_no",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_doctor_qualification",
                        "type": "string"
                    },
                    {
                        "internalType": "address",
                        "name": "_docaddr",
                        "type": "address"
                    }
                ],
                "name": "setDoc",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_patient_name",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_age",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_gender",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_heightandweight",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_medicalhist",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_phone_no",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_patient_home_adr",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_dob",
                        "type": "uint256"
                    }
                ],
                "name": "setPatients",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "stateMutability": "nonpayable",
                "type": "constructor"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "_patientaddr",
                        "type": "address"
                    },
                    {
                        "internalType": "string",
                        "name": "_date",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_time",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_description",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_diagnosis",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_status",
                        "type": "string"
                    }
                ],
                "name": "updateAppointments",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "name": "appointmentList",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "name": "doctorList",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "getAppointments",
                "outputs": [
                    {
                        "internalType": "address[]",
                        "name": "",
                        "type": "address[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "getDoctors",
                "outputs": [
                    {
                        "internalType": "address[]",
                        "name": "",
                        "type": "address[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "getPatients",
                "outputs": [
                    {
                        "internalType": "address[]",
                        "name": "",
                        "type": "address[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "owner",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "name": "patientList",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "patientaddr",
                        "type": "address"
                    }
                ],
                "name": "searchAppointment",
                "outputs": [
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "_address",
                        "type": "address"
                    }
                ],
                "name": "searchAppointmentDate",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "docaddr",
                        "type": "address"
                    }
                ],
                "name": "searchDoc",
                "outputs": [
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "patientaddr",
                        "type": "address"
                    }
                ],
                "name": "searchPatient",
                "outputs": [
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "_address",
                        "type": "address"
                    }
                ],
                "name": "searchRecordDate",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            }
        ];
            const Address = "0x8d2aBD65416671233d63414Fd39971154f6474e5";
            window.web3 = await new Web3(window.ethereum);
            window.contract = await new window.web3.eth.Contract( ABI, Address); 
            //document.getElementById("contractArea").innerHTML = "connected to smart contract"; 
        }

        //3-read data from smart contract
        form.addEventListener("submit",async (e)=>{
            e.preventDefault()
            try{
                if(window.ethereum !== "undefined") {
                    const accounts = await ethereum.request({method: "eth_requestAccounts"});
                    account = accounts[0];
                     document.getElementById("accountArea").innerText = account;
                     
                 } 
                 const name = namei.value;
                 const age = parseInt(agei.value);
                 const gender = geni.value;
                 const heightandweight = heightandweighti.value;
                 const patienthist = patienthisti.value;
                 const address = addressi.value;
                 const phoneNumber = parseInt(phoneNumberi.value);
                 const dob = parseInt(dobi.value);
               // console.log(name)
              //  console.log(age)
               // console.log(gender)
               // console.log(height)
               // console.log(weight)
                //console.log(address)
                //console.log(phoneNumber)
                //console.log(dob)
                await contract.methods
                .setPatients(name, age, gender, heightandweight, patienthist, phoneNumber, address, dob)
                .send({ from: account });
        
              console.log("Form data submitted successfully!");
                 
            }catch(e){
                alert("Some Error Occured")
                console.log(e)
            }

        })
         
            window.onload=connectMetamask()
    </script>
</body>
</html>