<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="assets/svg+xml" href="/vite.svg" />
    <link rel="styesheet" href="../form/formout.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div class="min-h-screen py-6" style="background-image: linear-gradient(115deg, #000000, #7e59c8)">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
          <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center" style="background-image: url('images/health_app.jpeg');">
            <h1 class="text-white text-3xl mb-1">Hello</h1>
            <div>
              <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suspendisse aliquam varius rutrum purus maecenas ac <a href="#" class="text-purple-500 font-semibold">Learn more</a></p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 py-2 px-12">
            <h2  class="text-3xl mb-2">Register</h2>
            <p class="mb-4">
              Create your account. It’s free and only take a minute
            </p>
            <form action="#">
              <div class="grid grid-cols-2 gap-5">
                <input type="text" placeholder="Firstname" class="border border-gray-400 py-1 px-2 rounded-md">
                <input type="number" placeholder="Age" class="border border-gray-400 py-1 px-2 rounded-md">
              </div>
              <div class="grid grid-cols-2 gap-5 mt-2">
                <input type="text" placeholder="gender" class="border border-gray-400 py-1 px-2 rounded-md">
                <input type="text" placeholder="medicalhist" class="border border-gray-400 py-1 px-2 rounded-md">
              </div>
              <div class="grid grid-cols-2 gap-5 mt-2">
                <input type="number" placeholder="Contact number" class="border border-gray-400 py-1 px-2 w-full rounded-md">
                <input type="text" placeholder="Patient home address" class="border border-gray-400 py-1 px-2 w-full rounded-md">
              </div>             
              <div class="mt-2">
                <input type="date" placeholder="D-O-B" class="border border-gray-400 py-1 px-2 w-full rounded-md">
              </div>
              <div class="mt-2">
                <input type="checkbox" class="border border-gray-400">
                <span>
                  I accept the <a href="#" class="text-purple-500 font-semibold">Terms of Use</a> &  <a href="#" class="text-purple-500 font-semibold">Privacy Policy</a> 
                </span>
              </div>
              <div class="mt-2">
                <button class="w-full bg-black py-2 text-center text-white rounded-xl">Register Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="./form.js"></script>
  </body>
</html>